body {
  padding: 20px;
  background-color: brown;
  box-sizing: border-box;
}
.form-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: 50vh;
  margin: 70px;
}
h1 {
  padding-top: 50px;
}
form1 {
  padding: 5px;
}
.form1 input {
  display: flex;
  flex-direction: column;
}
input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}
button {
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}
@media only screen and (min-width: 800px) {
  main {
    display: flex;
    flex-direction: row;
  }
  .form-container {
    flex: 1;
    margin-right: 0;
    margin-left: 0;
  }
  .about-circles {
    background-color: black;
    height: 50vh;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 0;
    padding: 20px;
    flex: 2;
  }

  .cir {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .one {
    background-color: brown;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    margin: 0;
    margin: 0px;
    padding: 0px;
    left: 400px;
    top: 150px;
    right: 50%;
    z-index: 1;
  }
  .two {
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    margin: 0px;
    padding: 0px;

    left: 420px;
    top: 170px;
    right: 50%;
    z-index: 2;
  }
  .three {
    background-color: brown;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    margin: 0;
    padding: 0;
    left: 437px;
    top: 188px;
    right: 50%;
    z-index: 3;
  }
}
